body {
    font-family: 'Ysabeau SC', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
}
h1 {
    font-family: 'Permanent Marker', cursive;
}
h2 {
    font-family: 'Poetsen One', sans-serif;
    
}
header {
    
    background-color: #008080;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    width: 60px;
    
}

.icon {
    width: 50px;
    margin-left: 10px;
    
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.dropdown {
    float: right;
    padding: 5px;
    font-size: 14px;
    margin-left: 30px;
    max-width: 200px;
}

.search-bar {
    float: right;
    padding: 5px;
    font-size: 14px;
    margin-left: 1200px;
    max-width: 150px;
    margin-left: 650px;
    
}


.main {
    background-color: #fcf9ec ;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
}
.page2 {
    background-color: #ffffff ;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
}

.page3 {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.hero-section {
    display: flex;
    align-items: left;
    max-width: 1200px;
    
}

.text-container {
    flex: 1;
    text-align: left;
}

.title {
    font-size: 72px;
    color: #E57F3D;
    margin-bottom: 20px;
    
    
}

.subtitle {
    font-size: 60px;
    color: #008080 ;
    margin-bottom: 20;

}

.image {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 100px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #E57F3D;
    padding: 35px 0px;
    text-align: center;
    color: rgb(4, 4, 4);
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
}

footer p {
    margin: 0;
}
body {
    font-family: 'Ysabeau SC', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-family: 'Poetsen One', sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}


main {
    background-color: #FFF8E1;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.intro-section h1 {
    font-family: 'Poetsen One', cursive;
    font-size: 28px;
    color: #333;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center
    
    
    
    
}

.intro-section p {
    font-size: 18px;
    line-height: 1.4;
    color: #555;
    max-width: 1200px;
    margin: 10px auto;
    text-align: center;
}

.content-section {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.content-image {
    width: 50%;
    max-width: 1200px;
    margin-right: 20px;
    padding: 50px 50px;
}

.pet-table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    border-top: 2px solid #000000; 
    border-right: 2px solid #000000; 
    border-bottom: 2px solid #000000; 
    border-left: 2px solid #000000; 
    background-color: white;
    
}

.pet-table th, .pet-table td {
    border: none;
    padding-right: 50px;
    text-align: left;
    
}

.pet-table th {
    background-color: #f8faee;
    padding-right: 100px;
    font-family: 'Ysabeau SC', sans-serif;
    color: #008080;
}

.pets-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.pet-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    
}

.pet-card img {
    width: 100%;
    border-radius: 10px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.pet-card h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: #333;
    margin: 0;
}


p {
    text-align: center;
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}
.small { 
    color: red;
    font-size: 12px;
    margin-left: 150px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    
}

.required {
    color: red;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

small {
    font-size: 12px;
    color: #999;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 300px;
}

.btn-submit {
    background-color: #008080; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
}

.btn-clear {
    background-color: #ffffff;
    color: #008080; 
    padding: 10px 30px;
    border: 2px solid #008080; 
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 300px;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.pet-card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.pet-card-image {
    position: relative;
}

.pet-card img {
    width: 100%;
    border-radius: 10px;
    height: 250px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(238, 234, 234, 0.6); /* สีพื้นหลังของ overlay */
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.pet-card:hover .overlay {
    height: 100%; 
}

.text {
    color: rgb(23, 1, 1);
    font-size: 20px;
    font-family: 'Ysabeau SC', sans-serif;
}